/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
*/

.fancy-titles {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
}

#parchment-title {
  font-size: 50 px;
  text-align: center;
}

#landforms-title {
  font-size: 25 px;
  text-align: right;
}
