/*
img {
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  max-width:100%;
  height:auto;
}

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

span {
   display: inline-block;
}

img {
   width: 10%;
   height: 10%;
}

.gallery {
  float: right; 
  margin: 0px 0px 15px 15px;
  width: 50 px;
  height: 40 px;
}
*/
.gallery {
  
}

.fancy-titles {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  color: #4b6794;
  position: relative;
  z-index: 3;
}

#parchment-title {
  font-size: 50 px;
  text-align: center;
  position: relative;
  z-index: 3;
}

#landforms-title {
  font-size: 25 px;
  position: relative;
  z-index: 3;
}

.cat-titles {
  color: #FFFFFF;
  font-family: 'Cinzel', serif;
  text-align: left;
  position: relative;
  z-index: 4;
}

.title-box {
}

.cat-box {
  border: 1px solid lightBlue;
  background-color: #b5b6e5;
  height: 500 px;
  width: 200 px;
  padding: 15 px 10 px;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  overflow: auto;
  position: relative;
  z-index: 3;
}

#selections-box {
  border: 1px solid lightBlue;
  background-color: #b5b6e5;
  height: 
}

.cat-images {
  float: left;
  width: 25%;
  padding: 5px;
  position: relative;
  z-index: 4;
}

.square {
   border: 1px outset lightBlue;
   background-color: #b5b6e5;
   height: 50px;
   width: 50px;
   cursor: pointer;
   position: relative;
   z-index: 4;
}

.square: hover {
   background-color: lightBlue;
   color: white;
}

.bkg {
    position: absolute; 
    top: 0; 
    left: 0; 

    min-width: 100%;
    min-height: 100%;
}

#myCanvas {
  width: 100%;
  position: absolute;
  height: 100%;
}
