/*
img {
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  max-width:100%;
  height:auto;
}

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

span {
   display: inline-block;
}

img {
   width: 10%;
   height: 10%;
}

.gallery {
  float: right; 
  margin: 0px 0px 15px 15px;
  width: 50 px;
  height: 40 px;
}
*/
.gallery {
  
}

.fancy-titles {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  color: #4b6794;
}

#parchment-title {
  font-size: 50 px;
  text-align: center;
}

#landforms-title {
  font-size: 25 px;
}

.cat-titles {
  color: #FFFFFF;
  font-family: 'Cinzel', serif;
  text-align: left;
}

.cat-box {
  border: 1px solid lightBlue;
  background-color: #4b6794;
  height: 300 px;
  width: 200 px;
  padding: 15 px 10 px;
  box-sizing: border-box;
  display: inline-block;
}

.square {
   border: 1px outset lightBlue;
   background-color: #4b6794;
   height: 50px;
   width: 50px;
   cursor: pointer;
}

.square: hover {
   background-color: lightBlue;
   color: white;
}

body {
    background: url("Visuals/Ocean2.jpg") repeat center center fixed, url("Visuals/Parchment Texture.jpg") repeat center center fixed;
    background-size: cover;
}
